* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* common class */
.btn {
  color: #fff;
  background-color: #469165;
  padding: 12px 16px;
  font-weight: 600;
  border-style: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-1 {
  color: #fff;
  padding: 12px 16px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  color: #469165;
  background-color: #fff;
  border: 1px solid #469165;
}









/* header styling */

.navbar {
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  margin: 16px auto;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.menu li {
  margin: 34px auto;
}

.menu a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}


.banner {
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.banner .banner-contant .early-access {
  display: inline-block;
  color: #469165;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 1000px;

}

.banner .banner-contant h1 {
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  font-size: 72px;
}

.banner .banner-contant h1 span {
  color: #30B868;
}

.banner .banner-contant .text {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}

.btn .gap {
  margin-left: 16px;
}




/* main styling */
  .notes-doesnt-fail{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F95555;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

}

.icon-circle i {
  font-size: 27px;
  color: #fff;
}






.about-container {
  text-align: center;
  margin: 0 auto;
  margin-top: 65px;
}

.about-container h2 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.about-container p {
  color: #627382;
  margin-bottom: 44px;
}

.child-card h3 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  text-align: center;
}

.child-card p {
  color: #627382;
  text-align: center;
  margin: 0 24px;
}

.parent-card {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.child-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: 0 0 4px #00000023;
}